<!-- key highlight css start -->
  .main-image {
    position: relative;
  }

 .slider__item .key-highlights-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    color: #fff;
    padding: 60px 10px;
    box-sizing: border-box;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: inherit;
  }

 .slider__item .key-highlights-overlay h2 {
    text-align: start;
    color: #FFF;
    font-family: 'Generis Sans W01 Bold';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

 .slider__item .key-highlights-overlay .highlight-block {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 12px;
    text-align: start;
    margin-bottom: 12px;
  }

 .slider__item .key-highlights-overlay .highlight-block strong {
    color: #FFF;
    font-family: 'Generis Sans W01 Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
  }

 .slider__item .key-highlights-overlay .highlight-block span {
    display: block;
    word-wrap: break-word;
    color: #FFF;
    font-family: 'Generis Sans W01 Bold';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .slider__item {
    position: relative;
    overflow: hidden; 
  }
  .slider__item .key-highlights-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 5;
        pointer-events: none;
        width: 180px;
        opacity: 90%;
        background: rgba(0, 0, 0, 0.6);
        padding-top: 20px;
        padding-left: 8px;
        padding-bottom: 4px;
}
<!-- key highlight end -->